body {
    font-family: 'Arvo', serif;
}

.line {
    border: 4px solid black;
    width: 50px;
    border-radius: 20px;
}

.horizontal {
    /*outline: 1px solid blue;*/
    margin: 15px;
}

header {
    margin-left: 15px;
}

img {
    /*outline: 1px solid red;*/
    margin-right: 40px;
}

div {
    /*outline: 1px solid green;*/
}

span {
    /*outline: 1px solid yellow;*/
    font-weight: bold;
}

.position {
    position: absolute;
}